.idea

locales
swiftshader
chromedriver.exe
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
node.dll
notification_helper.exe
nw.dll
nw.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nwjc.exe
payload.exe
resources.pak
v8_context_snapshot.bin

node_modules
*.log
